<div class="container" ng-controller="LaboratoriesController">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{heading}}</h2>
        </div>
    </div>
    <div class="row">
        <div ng-class="lab.style" ng-repeat="lab in labs">
            <div class="turing-lab white">
                <h3>{{lab.name}}</h3>
                <p class="lead">@ {{lab.location}}</p>
                <div class="row lab-slots">
                    <div class="lab-slot" ng-class="style(lab.slots)" ng-repeat="slot in lab.slots">
                        <div class="lab-sphere">
                            <div class="lab-sphere-text vertical-center">
                                <h4>{{slot.name}}</h4>
                                <p>{{slot.content}}</p>
                                <p>{{slot.time}}</p>
                            </div>
                        </div>
                        <div class="lab-prices">
                            <div class="lab-price" ng-repeat="price in slot.prices">
                                <strong class="text-uppercase">{{price.number}}</strong>
                                <h4>£{{price.cost}}</h4>
                                <p>£{{price.hourly}} per hour</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row lab-detail">
                    <h4 ng-if="lab.about">{{lab.about}}</h4>
                    <p ng-if="lab.detail">{{lab.detail}}</p>
                </div>
            </div>
        </div>
    </div>
</div>