<div id="page-top"></div>

<!-- Navigation -->
<nav ng-include="'app/partials/navbar.html'"></nav>

<!-- Header Section -->
<header class="header-fixed" ng-include="'app/partials/header.html'"></header>

<!-- Overview Section -->
<section id="overview" class="bg-branding-blue" ng-include="'app/partials/overview.html'"></section>
<div class="page-break group-milton"></div>

<!-- Teaching Section -->
<section id="teaching" class="bg-light-gray" ng-include="'app/partials/teaching.html'"></section>
<div class="page-break sam-help"></div>

<!-- Technology Section -->
<section id="technology" class="bg-branding-blue" ng-include="'app/partials/technology.html'"></section>
<div class="page-break henry-help"></div>

<!-- Team Section -->
<section id="team" class="bg-light-gray" ng-include="'app/partials/team.html'"></section>
<div class="page-break group-discussion"></div>

<!-- Laboratories Section -->
<section id="laboratories" class="bg-branding-blue" ng-include="'app/partials/laboratories.html'"></section>
<div class="page-break happy-group"></div>

<!-- FAQ Section -->
<!-- <section id="faq" class="bg-light-gray" ng-include="'app/partials/faq.html'"></section> -->
<!-- <div class="page-break henry-minecraft"></div> -->

<!-- Contact Section -->
<section id="portfolio" class="bg-branding-blue" ng-include="'app/partials/contact.html'"></section>
<div class="page-break code-groups"></div>

<!-- Video Grid Section -->
<!-- <section id="video" class="bg-light-gray" ng-include="'app/partials/videos.html'"></section> -->

<!-- Clients Aside --><!-- class="clients" -->
<section id="clients" class="bg-light-gray" ng-include="'app/partials/clients.html'"></section>

<!-- Footer -->
<footer id="clients" class="bg-branding-blue" ng-include="'app/partials/footer.html'"></footer>
