<div id="page-top" class="index"></div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="logo" alt="Turing Lab" src="assets/images/logos/logo-white.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#teaching">Teaching</a>
                </li>
                <li>
                    <a class="page-scroll" href="#values">Values</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="#video">Videos</a>
                </li>
<!--                     <li>
                    <a class="page-scroll" href="#about">About</a>
                </li> -->

                <!-- <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<h1>{{test}}</h1>

<!-- Header -->
<header class="header-fixed">
    <div class="container">
        <div class="intro-text center-header">
          <div class="row">
                <div class="intro-lead-in">Turing Lab: energising education through creative computing</div>
          </div>
          <!-- <div class="row">
            <div class="intro-heading col-md-6 col-md-offset-3">It's Nice To Meet You</div>
            </div> -->
            <a href="#portfolio" class="page-scroll btn btn-xl">Sign Up to Hear More</a>
        </div>
    </div>
</header>

    <!-- Services Section -->
<section id="teaching">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching</h2>
                <h3 class="section-subheading text-muted">We run after school and summer labs for primary aged children and their teachers.</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Kids</h4>
                <p class="text-muted">By encouraging children to make short, fun and practical programmes, we supplement KS2 & KS3 maths and computing with real world skills such as design. A canonical example is teaching children about angles, length, functions and some basic algebra by showing them how to get a Robot Turtle to move around a table-top. Our Labs cover a number of text and non-text based languages, introduce several key concepts in maths, computing and design to get kids making fun new projects. Coding really is the new lego.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Teachers</h4>
                <p class="text-muted"> 70% of primary school teachers say they feel uncomfortable teaching the new computing syllabus that started in 2014. We want to change this, and show how computing can be both intuitive and magical at the same time. Our workshops cover an introduction to computer science history, help teachers to build their first programme and explain basic concepts along the way, and finally we introduce some tools for using in class.</p>
            </div>
      </div>
    </div>
</section>

<!-- Services Section -->
<section id="values" class="bg-branding-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading-yellow">Teaching Values</h2>
                <h3 class="section-subheading text-white">We believe that education should be inclusive, skills focused and driven by practical projects.</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading-yellow">Inclusive</h4>
                <p class="text-white">Turing Lab believes that a quality computer science education should be available to every child, not just a lucky few. We believe that learning to code is valuable, and possible, for everyone! This means that we work with children and teachers from all backgrounds and abilities, working with schools to ensure we provide an inclusive education for all.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading-yellow">Skills Focused</h4>
                <p class="text-white">Turing Lab believes that education should be less about memorizing facts, or learning how to use particular tools and technologies. Instead it’s important to realise that programming is more that just writing code in any particular language - it is a way of thinking that is both creative and logical. We teach key concepts and skills that span across curriculums.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading-yellow">Practical</h4>
                <p class="text-white">Turing Lab believes that you cannot learn computing or maths by simply reading about it. We teach the way we learn best; encouraging students to spend time practicing computer science by building things and engaging in discovery by pulling things apart. This encourages curiosity which we have seen motivates children into doing this themselves. </p>
            </div>
        </div>
        </div>
    </div>
</section>


<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container" ng-controller="TeamController">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet our teachers</h2>
                <h3 class="section-subheading-first text-muted">All of our teachers have Masters Degrees in Computer Science. But we are a diverse group, with a wide variety of undergraduate degrees in Physics, Psychology, Engineering, Mathematics and even Architecture.</h3>
                <h3 class="section-subheading text-muted">
The beauty of programming is that it is universally useful. Our teachers know this first hand having written programmes that model physics particles, map aerodynamics in crowded cities, read brain signals, use artificial intelligence to classify the complex real world, design buildings and complex web systems, connect the worlds emerging economies to banks.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/henrym.jpg" class="img-responsive img-circle" alt="">
                    <h4>Henry Miskin</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BEng Mechanical Engineering</p>
                    <p class="text-muted">University of Southampton</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/hpgmiskin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/tom.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tom Murray</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">MSc Applied Mathematics</p>
                    <p class="text-muted">Queen's University Belfast</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/pub/tom-murray/b3/745/253"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/sam.jpg" class="img-responsive img-circle" alt="">
                    <h4>Sam Green</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BA Architecture</p>
                    <p class="text-muted">University of Cambridge</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/greensamuel"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                    <div class="row">
            <div class="col-sm-4 col-md-offset-2">
                <div class="team-member">
                    <img src="assets/images/team/priyav.jpg" class="img-responsive img-circle" alt="">
                    <h4>Priyav Shah</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BA Psychology</p>
                    <p class="text-muted">University of York</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/priyavshah91"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/henryl.jpg" class="img-responsive img-circle" alt="">
                    <h4>Henry Lake</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">MEng Physics</p>
                    <p class="text-muted">Imperial College London</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                       <!--  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
{{team}}
            <div class="col-sm-4" ng-repeat="member in team">
                <div class="team-member">
                    <img ng-src="{{member.image}}" class="img-responsive img-circle" alt="">
                    <h4>{{member.name}}</h4>
                    <div ng-repeat="degree in member.degrees">
                        <p class="text-muted degree">{{degree.name}}</p>
                        <p class="text-muted">{{degree.university}}</p>
                    </div>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                       <!--  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>

        </div>
       <!--  <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
</section>

<!-- Contact Section -->

<section id="portfolio" class="bg-branding-blue">
    <div class="container">
   <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading-yellow">Register Your Interest</h2>
                <h3 class="section-subheading text-white">Sign up to one of our mailing lists, we ensure to only e-mail when something extremely exciting or important has happened</h3>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModalParent" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <img src="assets/images/portfolio/roundicons.png" class="img-responsive" alt=""> -->
                <div class="contact-caption">
                <h4>Parents</h4>
                <p class="text-muted">If you're a parent and think your children would love to learn this way sign-up here.</p>
            </div>
            </a>
            
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModalSchool" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <img src="assets/images/portfolio/roundicons.png" class="img-responsive" alt=""> -->
                <div class="contact-caption">
                <h4>Schools & Collaborators</h4>
                <p class="text-muted">If you represent a school and would like us to expand our reach to your area, perhaps even to your school, then sign up here.</p>
            </div>
            </a>
            
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModalLabers" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <img src="assets/images/portfolio/roundicons.png" class="img-responsive" alt=""> -->
                <div class="contact-caption">
                <h4>Teachers & Labers</h4>
                <p class="text-muted">If you're interested in joining our expanding team of teachers and Labers (those of us who work on creating great educational focused projects) then sign up here. </p>
            </div>
            </a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
                <p class="large text-white">Or, contact us directly:</p>
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/turinglab"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="mailto:info.turinglab@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>

    <!-- Video Grid Section -->
<section id="video" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Global Movement</h2>
                <h3 class="section-subheading text-muted">All over the world governments are catching on to the fact that computing is 'THE' skill of the future. Just watch some of these YouTube clips to hear some of the reasons why your kids should, and can learn to code.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%" class="responsive-video" src="http://www.youtube.com/embed/Gjc6UX-BFks?rel=0&amp;start=0&amp;end=148&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>Code Campaign</h4>
                    <p class="text-muted">Hear from house-hold names on why your kids should learn to code</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%"  class="responsive-video" src="https://www.youtube.com/embed/-7x7GYItzS4?rel=0&amp;start=0&amp;end=331&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>BBC Newsnight</h4>
                    <p class="text-muted">Newsnight coverage on the UK government introducing programming to the curriculum</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%"   class="responsive-video" src="https://www.youtube.com/embed/Ia55clAtdMs?rel=0&amp;start=0&amp;end=691&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>TED Conference</h4>
                    <p class="text-muted">TED: Technology Education Design, speaking about the new curriculum and the role of the big society in helping the government deliver this curriculum</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%"  class="responsive-video" src="https://www.youtube.com/embed/rH7AjDMz_dc?rel=0&amp;start=0&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>The Hour of Code</h4>
                    <p class="text-muted">An american campaign run by code.org encouraging kids to learn to code, featuring Barak Obama</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%"  class="responsive-video" src="https://www.youtube.com/embed/Bwiln7v0fdc?rel=0&amp;start=0&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>Karlie Kloss: Supermodel</h4>
                    <p class="text-muted">Supermodel Karlie Kloss has started learning to code, and she explains why.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 video-item">
                <div class="video-link">
                <iframe width="100%" height="100%"  class="responsive-video" src="https://www.youtube.com/embed/Fkd9TWUtFm0?rel=0&amp;start=0&amp;autoplay=0&amp;iv_load_policy=3&amp;autohide=1&amp;cc_load_policy=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="video-caption">
                    <h4>An inspired 12 year old</h4>
                    <p class="text-muted">Tomas Suarez talks at TED about being an app developer, and his role in setting up a club at school to help others make apps</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Clients Aside -->
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Previous Work</h2>
                <h3 class="section-subheading text-muted">We have worked with or for these guys, they are really great initiatives.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-md-offset-2 client-logo">
                <a href="http://www.imperial.ac.uk/">
                    <img src="assets/images/logos/imperial.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 client-logo">
                <a href="https://coderdojo.com/">
                    <img src="assets/images/logos/coderdojo.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 client-logo">
                <a href="http://www.imperialhub.org/">
                    <img src="assets/images/logos/imperialhub.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
<!--                 <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="assets/images/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div> -->
        </div>
    </div>
</section>

<footer class="bg-branding-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Turing Lab 2015 </span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/turinglab"><i class="fa fa-twitter"></i></a>
                    </li>
                    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- CONTACT SIGNUP FORMS -->

<div class="portfolio-modal modal fade" id="portfolioModalParent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Parents</h2>
                        <p class="item-intro text-muted">sign-up to be the first to recieve details about new classes, and open-spaces</p>
                            <!-- Begin MailChimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                            </style>
                            <div id="mc_embed_signup">
                            <form action="//turinglab.us11.list-manage.com/subscribe/post?u=b72c64c467c178fb8a8c978cc&amp;id=44090c10ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                <!-- <h2>Subscribe to our mailing list</h2> -->
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group size1of2">
                                <label for="mce-CHLD">No. Children </label>
                                <input type="number" name="CHLD" class="" value="" id="mce-CHLD">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-AGES">Age(s) </label>
                                <input type="text" value="" name="AGES" class="" id="mce-AGES">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-SUBS">Subject(s) </label>
                                <select name="SUBS" class="" id="mce-SUBS">
                                <option value=""></option>
                                <option value="Computers">Computers</option>
                            <option value="Maths">Maths</option>
                            <option value="Design Engineering">Design Engineering</option>

                                </select>
                            </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_b72c64c467c178fb8a8c978cc_44090c10ba" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                            </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='CHLD';ftypes[3]='number';fnames[7]='AGES';ftypes[7]='text';fnames[4]='SUBS';ftypes[4]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                            <!--End mc_embed_signup-->
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolioModalSchool" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Schools and Collaborators</h2>
                        <p class="item-intro text-muted">Signup to hear about new events, and if you would like to get involved.</p>
                           <!-- Begin MailChimp Signup Form -->
                                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                                <style type="text/css">
                                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                </style>
                                <div id="mc_embed_signup">
                                <form action="//turinglab.us11.list-manage.com/subscribe/post?u=b72c64c467c178fb8a8c978cc&amp;id=95285e5b3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                    <!-- <h2>Subscribe to our mailing list</h2> -->
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b72c64c467c178fb8a8c978cc_95285e5b3b" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                                </div>
                                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                                <!--End mc_embed_signup-->

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModalLabers" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Teachers and Labers</h2>
                        <p class="item-intro text-muted">Sign up if you'd like to hear about openings at Turing Lab, and become part of our incredible team</p>
                           
                           <!-- Begin MailChimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                            </style>
                            <div id="mc_embed_signup">
                            <form action="//turinglab.us11.list-manage.com/subscribe/post?u=b72c64c467c178fb8a8c978cc&amp;id=11334e4c20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                <!-- <h2>Subscribe to our mailing list</h2> -->
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_b72c64c467c178fb8a8c978cc_11334e4c20" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                            </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                            <!--End mc_embed_signup-->
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>