<nav class="navbar navbar-default turing-navbar navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="header-logo" src="assets/images/logos/full-logo-blue.png"></img>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="navClass(section)" ng-repeat="section in sections">
                    <a class="page-scroll text-capitalize" href='' scroll-to="{{section}}" callback-after="scroll">{{section}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>