<!-- Team Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet our teachers</h2>
                <h3 class="section-subheading-first text-muted">All of our teachers have Masters Degrees in Computer Science. But we are a diverse group, with a wide variety of undergraduate degrees in Physics, Psychology, Engineering, Mathematics and even Architecture.</h3>
                <h3 class="section-subheading text-muted">
The beauty of programming is that it is universally useful. Our teachers know this first hand having written programmes that model physics particles, map aerodynamics in crowded cities, read brain signals, use artificial intelligence to classify the complex real world, design buildings and complex web systems, connect the worlds emerging economies to banks.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/henrym.jpg" class="img-responsive img-circle" alt="">
                    <h4>Henry Miskin</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BEng Mechanical Engineering</p>
                    <p class="text-muted">University of Southampton</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/hpgmiskin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/tom.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tom Murray</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">MSc Applied Mathematics</p>
                    <p class="text-muted">Queen's University Belfast</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/pub/tom-murray/b3/745/253"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/sam.jpg" class="img-responsive img-circle" alt="">
                    <h4>Sam Green</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BA Architecture</p>
                    <p class="text-muted">University of Cambridge</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/greensamuel"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                    <div class="row">
            <div class="col-sm-4 col-md-offset-2">
                <div class="team-member">
                    <img src="assets/images/team/priyav.jpg" class="img-responsive img-circle" alt="">
                    <h4>Priyav Shah</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">BA Psychology</p>
                    <p class="text-muted">University of York</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://uk.linkedin.com/in/priyavshah91"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="assets/images/team/henryl.jpg" class="img-responsive img-circle" alt="">
                    <h4>Henry Lake</h4>
                    <p class="text-muted degree">MSc Computer Science</p>
                    <p class="text-muted"> Imperial College London</p>
                    <p class="text-muted degree">MEng Physics</p>
                    <p class="text-muted">Imperial College London</p>

                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                       <!--  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
       <!--  <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>