<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Turing Lab</title>
    <link rel="icon"
      type="image/png"
      href="assets/images/favicon.png">

    <!-- bower:css -->
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/ionicons/css/ionicons.css' />
    <!-- endbower -->


    <!-- injector:css -->
    <link rel="stylesheet" href="/assets/css/agency.css">
    <link rel="stylesheet" href="/assets/css/laboratories.css">
    <link rel="stylesheet" href="/assets/css/turing.css">
    <!-- endinjector -->


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="turingWeb">

    <div ng-view class="full"></div>

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery.easing/js/jquery.easing.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/ngSmoothScroll/angular-smooth-scroll.js"></script>
    <!-- endbower -->

    <!-- injector:js -->
    <script src="/assets/js/agency.js"></script>
    <script src="/assets/js/jqBootstrapValidation.js"></script>
    <script src="/app/app.modules.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/controllers/faq.controller.js"></script>
    <script src="/app/controllers/laboratories.controller.js"></script>
    <script src="/app/controllers/main.controller.js"></script>
    <script src="/app/controllers/overview.controller.js"></script>
    <script src="/app/controllers/teaching.controller.js"></script>
    <script src="/app/controllers/team.controller.js"></script>
    <script src="/app/controllers/technology.controller.js"></script>
    <script src="/app/controllers/video.controller.js"></script>
    <script src="/app/directives/anchor.directive.js"></script>
    <script src="/app/directives/price.directive.js"></script>
    <script src="/app/services/booking.service.js"></script>
    <script src="/app/services/term.service.js"></script>
    <!-- endinjector -->

</body>

</html>
