
.turing-lab {
    padding-top: 10px;
    text-align: center;
}

.turing-lab > h3 {
    color: #fed136;
}

.lab-slots {
    padding: auto;
}

.lab-slot {
    padding: 10px 0;
}

.lab-sphere {
    color: #2A78BD;
    background-color: white;

    border-radius: 50%;
    width: 160px;
    height: 160px;

    margin-bottom: 20px;
    display: inline-block;
}

.lab-sphere-text > h4 {
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0 6px;
}

.lab-sphere-text > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.lap-prices {

}

.lab-price {
    display: inline-block;
    padding: 0 5px;
}

.lab-price > p {
    margin: 0;
}

.lab-price-left {
    text-align: right;
    border-right: solid 1px;
}

.lab-price-right {
    text-align: left;
    border-left: solid 1px;
}

.lab-detail {
    /*margin-top: -10px;*/
    padding: 0 20px;
}

.lab-detail > h4 {
    margin-top: 0px; 
}

.lab-detail > p {
    margin-bottom: 12px; 
}