.full {
    height: 100%;
}

.yellow {
    color: #fed136;
}

.turing-navbar  {
    background-color: #2A78BD;
}

.turing-orb {
    position: relative;
    background-color: #2A78BD;
    
    border-radius: 50%;
    /*width: 60%;*/
    /*padding-top: 60%;*/
    width: 60vh;
    height: 60vh;
    
    margin: auto;
}

.turing-title {
    height: 40%;
    padding: 20% 10%;
}

.turing-tagline {
    height: 60%;
    padding: 20% 10%;
}

.orb-logo {
    width:100%;
}

.header-logo {
    height: 100%;
}