.full {
    height: 100%;
}

.yellow { color: #fed136;}
.white { color: white;}

.section-heading {
    padding-bottom: 40px;
}

.turing-navbar  {
    background-color: #2A78BD;
}

.turing-orb {
    position: relative;
    background-color: #2A78BD;
    
    border-radius: 50%;
    width: 320px;
    height: 320px;
    
    margin: auto;
}

.turing-title {
    height: 40%;
    padding: 20% 10%;
}

.turing-tagline {
    height: 60%;
    padding: 20% 10%;
    font-size: 21px;
}

.orb-logo {
    width:100%;
}

.header-logo {
    height: 100%;
}